<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Login to ToDoAppTwo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="vertical-space">
    <h1 class="center">ToDoAppTwo</h1>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" placeholder="Insert your email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="Insert your password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="login()" expand="block" shape="round" color="danger" class="login-btn">
    Login
  </ion-button>
  <ion-button (click)="goToSignup()" fill="clear" color="danger">
    Don't have a Account? Create one.
  </ion-button>
</ion-content>
